<!-- image-list.component.html -->
<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 1}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 2}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
  


 <!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 3}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
  
<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 4}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 5}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 6}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
  

 <!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 7}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
<!-- image-list.component.html -->
<div *ngFor="let image of images; let i = index">
    <div (click)="navigateToImageDetail(image.id)">
      <p>Image {{i + 8}}</p>
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
  </div>
  

  <div *ngFor="let image of images">
    <div (click)="navigateToImageDetail(image.id)">
      <img [src]="image.download_url" alt="{{image.author}}" class="img">
      <p>{{image.author}}</p>
    </div>
   
  </div>

